<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href=".\static\login.css">
</head>
<body>
  <div class="container">
    <div class="parteprincipal">
      <h1>GESTÃO DE TEMPO</h1>
      <h2>Bem-vindo</h2> 
      <a href="{{ url_for('cadastro') }}"><button>CRIAR</button></a>
    </div>
    <div class="partedelogin">
      <h1>FAÇA LOGIN</h1>
      <form method="post" action="{{ url_for('login') }}" class="">
        <input type="email" name="email" id="email" placeholder="e-mail" required />
        <div class="spacer"></div>
        <div class="esquecisenha">
        <div class="password-container">
          <input type="password" name="senha" id="senha" placeholder="senha" required autocomplete="current-password" />
          <button type="button" id="togglePassword" class="toggle-btn">👁</button>
        </div>
        <a href="">esqueci senha</a>
        <br />
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            
          {% endif %}
        {% endwith %}
        <div>
          <button type="submit">Entrar</button>
      </form>
    </div>
  </div>
  <script>
    document.getElementById('togglePassword').addEventListener('click', function() {
      const passwordInput = document.getElementById('senha');
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', type);
      this.textContent = type === 'password' ? '👁' : '🙈';
    });
  </script>
</body>
</html>
