* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #80abc49c;
    background-image: url('images/base.jpg');
    background-size: cover;
    background-position: center;
}

nav {
    width: 100%;
    background-color: #a2caf0;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: rgb(15, 15, 15);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 35px 35px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #a2caf0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

i {
    font-size: 35px;
}
