
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/login.jpg');
    background-size: cover;
    background-position: center;
   
}

.container {
    width: 550px;
    height: 320px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
} 

.parteprincipal {
    background-color: rgba(65, 120, 238, 0.774);
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 70%;
    gap: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.partedelogin { padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    
}

button {
    background-color: rgba(127, 199, 238, 0.747);
    padding: 5px 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.container h1 {
    font-size: 30px;
    text-align: center;
    
}

.partedelogin input {
    background-color: transparent;
    border: 2px solid  rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 5px; 

}   

.partedelogin input::placeholder {
    color: #fff
}

.esquecisenha {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-btn {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 16px;
}

.esquecisenha a {
    margin-top: 10px;
}

.esquecisenha a {
    color: #272727d5;
}

.spacer {
    height: 15px;
}
